# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders to ignore
/zzz_backup/
/dist/
/source/bin/
/source4xp/bin/

# Compiled test harnesses (keep sources, ignore binaries)
/source/test/lib_roundtrip_test

# Test / output files
*.jpg
*.jpeg
*.pjg
*.pgm
*.nfo
*.hdr
*.huf
*.coll?
*.zdst?
*.dist
/source/test/lib_concurrent_test
